<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/global.css" />
    <link rel="stylesheet" href="styles/carConsulta.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Racing+Sans+One&display=swap"
        rel="stylesheet">
    <title>Mileage Check</title>
</head>

<body>
    <%- include('../partials/header')%>
        <main>
            <section class="container">
                <div class="carPage">

                    <div class="carInformation">
                        <div>
                            <div><img class="imgCar" src="<%=registro.imagesCar%>"></img></div>
                            <div class="description">
                                <h1>Informações do Veiculo</h1>
                                <h2>Veiculo : <span>
                                        <%=registro.descriptionCar%>
                                    </span>
                                </h2>
                                <h2>Empresa :<span>
                                        <%=registro.locationCar%>
                                    </span>
                                </h2>
                                <h2>Responsavel:<span>
                                        <%=registro.ConductorCar%>
                                    </span>
                                </h2>
                                <h2>Placa: <span>
                                        <%=registro.locationCar%>
                                    </span>
                                </h2>
                                <h2>Ano: <span>
                                        <%=registro.yearCar%>
                                    </span>
                                </h2>
                            </div>
                        </div>
                        <div class="carKm">
                            <h3>Kilometragem </h3>
                            <div class="progressKM">
                              <img class="IconBar" src="./images/inicio.png" alt="Final">
                                <div>
                                    <div></div>
                                    <p> <%=registro.NextKmCar%></p>
                                </div>
                                
                                <img class="IconBar" src="./images/conclusao.png" alt="Inicio Bar"></img>
                                <span>
                                    <%=registro.MileageCar%>
                                </span>
                            </div>




                            <a href="/"> <button> Retonar</button></a>
                        </div>

                    </div>
                    <div>



                    </div>

                    <div class="carNotification">
                        <div><img src="<%=registro.imagesCar%>"></img></div>

                        <div>
                            <h2>Veiculo :<%=registro.descriptionCar%>
                            </h2>
                            <h2>Empresa : <%=registro.locationCar%>
                            </h2>
                            <h2>Responsavel: <%=registro.ConductorCar%>
                            </h2>
                            <h2>Placa: <%=registro.locationCar%>
                            </h2>
                            <h2>Ano: <%=registro.yearCar%>
                            </h2>
                        </div>
                        <div><span>Kilometragem <%=registro.MileageCar%></span>
                            0------------------------------------0</div>
                        <input type="button">Retonar</input>

                    </div>

                </div>


            </section>

        </main>
        <!--  <%- include('../partials/footer')%>-->

</body>

</html>