<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/global.css" />
    <link rel="stylesheet" href="styles/carConsulta.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Rajdhani:wght@600&family=Racing+Sans+One&display=swap"
        rel="stylesheet">
    <!--<script src="./scripts/StatusBar.js" defer></script>-->

    <title>Mileage Check</title>
</head>

<body>
    <%- include('../partials/header')%>
        <main>
            <section class="container">
                <div class="carPage">

                    <div class="carInformation">
                        <div>
                            <img class="imgCar" src="<%=registro.imagesCar%>"></img>
                            <div class="grid-description">
                                <h1 class="grid-itens">Ficha do Veiculo</h1>
                                <h2 class="grid-itens">Veiculo : <span class="descriptionText">
                                        <%=registro.descriptionCar%>
                                    </span>
                                </h2>
                                <h2 class="grid-itens">Empresa :<span class="descriptionText">
                                        <%=registro.locationCar%>
                                    </span>
                                </h2>
                                <h2 class="grid-itens">Responsavel:<span class="descriptionText">
                                        <%=registro.conductorCar%>
                                    </span>
                                </h2>
                                <h2 class="grid-itens">Placa: <span class="descriptionText">
                                        <%=registro.locationCar%>
                                    </span>
                                </h2>
                                <h2 class="grid-itens">Ano: <span class="descriptionText">
                                        <%=registro.yearCar%>
                                    </span>
                                </h2>
                            </div>
                        </div>
                        <div class="carKm">
                            <h3>Kilometragem </h3>
                            <div class="progressKM">
                                <img class="IconBar" src="./images/inicio.png" alt="Final">
                                <div>
                                    <div></div>
                                    <span>
                                        <% if (!registro.nextKmCar) { %>
                                            Sem proximo KM
                                            <% } else { %>
                                                <%=registro.mileageCar%>
                                                    <% }%>
                                    </span>
                                </div>

                                <img class="IconBar" src="./images/conclusao.png" alt="Inicio Bar"></img>
                                <span>
                                    <%=nextKilometragem%>
                                </span>
                            </div>
                            <a href="/"> <button> Retonar</button></a>
                        </div>
                    </div>
                    <div class="carHistory">
                        <h1>Historico de Manutenção do Veiculo: <br>
                            <span>
                                <%=registro.descriptionCar%>
                            </span>
                        </h1>
                        <table class="tableHistory">
                            <thead>
                                <tr>
                                    <th>
                                        Registro
                                    </th>
                                    <th>
                                        Veiculo
                                    </th>
                                    <th>
                                        Manutenção
                                    </th>
                                    <th>
                                        Kilometragem
                                    </th>
                                    <th>
                                        Condutor
                                    </th>
                                    <th>
                                        Data
                                    </th>
                                    <th>
                                        Imagem
                                    </th>
                            </thead>

                            </tr>

                            <% historyCar.forEach( (historyCar)=> { %>
                                <tbody>
                                    <tr>
                                        <td>
                                            <%=historyCar.id%>
                                        </td>
                                        <td>
                                            <img src="<%=registro.imagesCar%>"></img>
                                        </td>
                                        <td>
                                            <%=historyCar.descriptionProblem%>
                                        </td>
                                        <td>
                                            <%=registro.mileageCar%>
                                        </td>
                                        <td>
                                            <%=registro.conductorCar%>
                                        </td>
                                        <td>
                                            <%=historyCar.Data%>
                                        </td>
                                        <td>
                                            <a href=<%=historyCar.url%>><button
                                                    class="buttonImagem">Pesquisar</button></a>
                                        </td>

                                    </tr>

                                </tbody>
                                <% }) %>
                    </div>
                    </table>
                </div>


            </section>

        </main>
        <!--  <%- include('../partials/footer')%>-->

</body>

</html>